@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved.
    *
    * This file is part of DevPartner Unify Theme.
    *
    * DevPartner Unify Theme can not be copied and/or distributed without the express
    * permission of Dev Partner LLC.
    *
    * Written by Kanstantsin Ivinki, June 2016
    * Email: info@dev-partner.biz
    * Website: http://dev-partner.biz
*@
@model IList<ProductSpecificationModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <h3 class="heading-md margin-bottom-20">@T("Products.Specs")</h3>
    <div class="row">
        <ul class="list-unstyled specifies-list">
            <li style="display: none;"></li>
            @foreach (var item in Model)
            {
                <li class="col-sm-6">
                    <i class="fa fa-caret-right"></i>@item.SpecificationAttributeName: <span>

                        @if (String.IsNullOrEmpty(item.ColorSquaresRgb))
                        {
                            @Html.Raw(item.ValueRaw)
                        }
                        else
                        {
                            <div class="color-squares">
                                <span class="color-container" title="@Html.Raw(item.ValueRaw)">
                                    <span class="color" style="background-color: @(item.ColorSquaresRgb);">&nbsp;</span>
                                </span>
                            </div>
                        }
                        }
                    </span>
                </li>
            }
        </ul>
    </div>
}