@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved. 
 *
 * This file is part of DevPartner Unify Theme.
 * 
 * DevPartner Unify Theme can not be copied and/or distributed without the express
 * permission of Dev Partner LLC.
 *
 * Written by Kanstantsin Ivinki, June 2016
 * Email: info@dev-partner.biz
 * Website: http://dev-partner.biz
 *@
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    Html.AppendCssFileParts("~/Administration/Content/adminLTE/AdminLTE-2.3.0.min.css");
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/2014.1.318/kendo.rtl.min.css"));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/2014.1.318/kendo.default.min.css"));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/2014.1.318/kendo.common.min.css"));

    <!-- JS Customization -->
    Html.AppendScriptParts("~/Themes/Unify/assets/js/custom.js");

    <!-- JS Page Level -->
    Html.AppendScriptParts("~/Themes/Unify/E-Commerce/assets/js/shop.app.js");
    Html.AppendScriptParts("~/Themes/Unify/Scripts/plugins/style-switcher.js");


    <!-- JS Implementing Plugins -->
    //Html.AppendScriptParts("~/Themes/Unify/E-Commerce/assets/js/plugins/stepWizard.js");
    Html.AppendScriptParts("~/Themes/Unify/assets/plugins/back-to-top.js");
    Html.AppendScriptParts("~/Themes/Unify/assets/plugins/smoothScroll.js");
    //Html.AppendScriptParts("~/Themes/Unify/assets/plugins/skrollr/skrollr-ini.js");
    //Html.AppendScriptParts("~/Themes/Unify/assets/plugins/counter/waypoints.min.js");
    //Html.AppendScriptParts("~/Themes/Unify/assets/plugins/counter/jquery.counterup.min.js");
    Html.AppendScriptParts("~/Themes/Unify/E-Commerce/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js");
    //Html.AppendScriptParts("~/Themes/Unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js");
    //Html.AppendScriptParts("~/Themes/Unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js");

    <!-- JS Global Compulsory -->
    Html.AppendScriptParts("~/Themes/Unify/assets/plugins/bootstrap/js/bootstrap.min.js");
    //Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Themes/Unify/assets/plugins/jquery/jquery-migrate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Themes/Unify/assets/plugins/jquery/jquery.min.js");

    //Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Themes/Unify/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");



    //JS de SJU

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }

    //custom tag(s)
    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }
}

<!DOCTYPE html>
<html @(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
<head>
    <title>@Html.NopTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes();
    }
    <!-- CSS Theme -->
    <link href="~/Themes/Unify/E-Commerce/assets/css/theme-colors/blue.css" id="style_color_ecommerce" rel="stylesheet" type="text/css" />
    <link href="~/Themes/Unify/assets/css/theme-colors/blue.css" id="style_color" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/theme-skins/dark.css">
    <!-- CSS DevPartner -->
    <link rel="stylesheet" href="~/Themes/Unify/assets/css/devpartner.style.css">
</head>
<body class="header-fixed page-intro">
    <i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
        <div class="style-switcher animated fadeInRight" style="display: none;">
            <div class="style-swticher-header">
                <div class="style-switcher-heading">Style Switcher</div>
                <div class="theme-close">
                    <i class="icon-close"></i>
                </div>
            </div>

            <div class="style-swticher-body">
                <div class="style-switcher-heading">Theme Colors</div>
                <ul class="list-unstyled">
                    <li class="theme-default" data-style="green"></li>
                    <li class="theme-blue" data-style="blue"></li>
                    <li class="theme-orange " data-style="orange"></li>
                    <li class="theme-red" data-style="red"></li>
                    <li class="theme-light" data-style="light"></li>
                    <li class="theme-purple last" data-style="purple"></li>
                    <li class="theme-aqua" data-style="aqua"></li>
                    <li class="theme-brown" data-style="brown"></li>
                    <li class="theme-dark-blue" data-style="dark-blue"></li>
                    <li class="theme-light-green" data-style="light-green"></li>
                    <li class="theme-dark-red" data-style="dark-red"></li>
                    <li class="theme-teal last theme-active" data-style="default"></li>
                </ul>
            </div>
        </div>

    @RenderBody()

    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)

    <script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function getStyle() {
            return "/Themes/Unify/E-Commerce/assets/css/theme-colors/" + getCookie("themeColor") + ".css";
        }

        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
            StyleSwitcher.initStyleSwitcher();

            //RevolutionSlider.initRSfullWidth();
            //MasterSliderShowcase2.initMasterSliderShowcase2();


            var panel = jQuery('.style-switcher');

            jQuery('li', panel).click(function () {
                var color = jQuery(this).attr("data-style");
                setCookie("themeColor", color, 30);
                var colorSet = color + ".css";
                jQuery('#style_color_ecommerce').attr("href", "/Themes/Unify/E-Commerce/assets/css/theme-colors/" + colorSet);
                jQuery('#style_color').attr("href", "/Themes/Unify/assets/css/theme-colors/" + colorSet);
            });

            var colorSet;
            if (getCookie("themeColor"))
                colorSet = getCookie("themeColor") + ".css";
            else {
                colorSet = "blue" + ".css";
            }
            jQuery('#style_color_ecommerce').attr("href", "./Themes/Unify/E-Commerce/assets/css/theme-colors/" + colorSet);
            jQuery('#style_color').attr("href", "./Themes/Unify/assets/css/theme-colors/" + colorSet);
            

        });


    </script>
    <!--[if lt IE 9]>
    <script src="/Themes/Unify/assets/plugins/respond.js"></script>
    <script src="/Themes/Unify/assets/plugins/html5shiv.js"></script>
    <script src="/Themes/Unify/assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

</body>
</html>
