@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved. 
 *
 * This file is part of DevPartner Unify Theme.
 * 
 * DevPartner Unify Theme can not be copied and/or distributed without the express
 * permission of Dev Partner LLC.
 *
 * Written by Kanstantsin Ivinki, June 2016
 * Email: info@dev-partner.biz
 * Website: http://dev-partner.biz
 *@
@model OrderDetailsModel
@using Nop.Web.Models.Order;
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
}
@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        })
    </script>
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@T("Order.OrderInformation")</h1>
    </div>
</div>

<div class="container content">
<div class="row invoice-header">
<div class="col-xs-6">
    @Html.Action("Logo", "Common")
</div>
    <div class="col-xs-6 invoice-numb ">
        <div class="hint text-right">
            <div>
                <strong>@T("Order.Order#")@Model.Id</strong>
            </div>
            @T("Order.OrderDate"): @Model.CreatedOn.ToString("D")
            <span>@T("Order.OrderStatus"): @Model.OrderStatus</span><br/>
            <span>@T("Order.OrderTotal"): <strong>@Model.OrderTotal</strong></span><br/>
        </div>
    </div>
   
    </div>
<div class="row invoice-info">
    <div class="col-xs-6">
        <div class="tag-box tag-box-v3">
            <h2>@T("Order.BillingAddress")</h2>
            <ul class="list-unstyled">
                <li>
                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                </li>
                <li>
                    @T("Order.Email"): <a href="@string.Format("mailto:{0}", Model.BillingAddress.Email)">@Model.BillingAddress.Email</a>
                </li>
                @if (Model.BillingAddress.PhoneEnabled)
                {
                    <li>
                        @T("Order.Phone"): @Model.BillingAddress.PhoneNumber
                    </li>
                }
                @if (Model.BillingAddress.FaxEnabled)
                {
                    <li>
                        @T("Order.Fax"): @Model.BillingAddress.FaxNumber
                    </li>
                }
                @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
                {
                    <li>
                        @Model.BillingAddress.Company
                    </li>
                }
                @if (Model.BillingAddress.StreetAddressEnabled)
                {
                    <li>
                        @Model.BillingAddress.Address1
                    </li>
                }
                @if (Model.BillingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.BillingAddress.Address2))
                {
                    <li>
                        @Model.BillingAddress.Address2
                    </li>
                }
                @if (Model.BillingAddress.CityEnabled ||
                     Model.BillingAddress.StateProvinceEnabled ||
                     Model.BillingAddress.ZipPostalCodeEnabled)
                {
                    <li>
                        @if (Model.BillingAddress.CityEnabled)
                        {
                            @Model.BillingAddress.City
                        }
                        @if (Model.BillingAddress.CityEnabled && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                        {
                            <text>,</text>
                        }
                        @if (Model.BillingAddress.StateProvinceEnabled)
                        {
                            @Model.BillingAddress.StateProvinceName
                        }
                        @if (Model.BillingAddress.ZipPostalCodeEnabled)
                        {
                            @Model.BillingAddress.ZipPostalCode
                        }
                    </li>
                }
                @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.CountryName))
                {
                    <li>
                        @Model.BillingAddress.CountryName
                    </li>
                }

            </ul>
            <br/>

            @if (!String.IsNullOrEmpty(Model.PaymentMethod))
            {
                <h2>@T("Order.Payment")</h2>
                <ul class="list-unstyled">
                    <li>
                        @T("Order.Payment.Method"):@Model.PaymentMethod
                    </li>
                    @if (!Model.PrintMode)
                    {
                        <li >
                            @T("Order.Payment.Status"):@Model.PaymentMethodStatus
                        </li>
                    }
                    @if (!Model.PrintMode && Model.CanRePostProcessPayment)
                    {
                    @*Completing payment support (for redirection payment methods)*@
                        <li>
                            @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" name="repost-payment" value="@T(" Order.RetryPayment")" class="button-1 re-order-button btn-primary"/>
                                <p class="hint">
                                    <em>@T("Order.RetryPayment.Hint")</em>
                                </p>
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    </div>

    @if (Model.IsShippable)
    {
        <div class="col-xs-6">
            <div class="tag-box tag-box-v3">
                <h2>@T("Order.ShippingAddress")</h2>
                <ul class="list-unstyled">
                    <li>
                        @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                    </li>
                    <li>
                        @T("Order.Email"): <a href="@string.Format("mailto:{0}", Model.ShippingAddress.Email)">@Model.ShippingAddress.Email</a>
                    </li>
                    @if (Model.ShippingAddress.PhoneEnabled)
                    {
                        <li>
                            @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber
                        </li>
                    }
                    @if (Model.ShippingAddress.FaxEnabled)
                    {
                        <li>
                            @T("Order.Fax"): @Model.ShippingAddress.FaxNumber
                        </li>
                    }
                    @if (Model.ShippingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.Company))
                    {
                        <li>
                            @Model.ShippingAddress.Company
                        </li>
                    }
                    @if (Model.ShippingAddress.StreetAddressEnabled)
                    {
                        <li>
                            @Model.ShippingAddress.Address1
                        </li>
                    }
                    @if (Model.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                    {
                        <li>
                            @Model.ShippingAddress.Address2
                        </li>
                    }
                    @if (Model.ShippingAddress.CityEnabled ||
                         Model.ShippingAddress.StateProvinceEnabled ||
                         Model.ShippingAddress.ZipPostalCodeEnabled)
                    {
                        <li>
                            @if (Model.ShippingAddress.CityEnabled)
                            {
                                @Model.ShippingAddress.City
                            }
                            @if (Model.ShippingAddress.CityEnabled && (Model.ShippingAddress.StateProvinceEnabled || Model.ShippingAddress.ZipPostalCodeEnabled))
                            {
                                <text>,</text>
                            }
                            @if (Model.ShippingAddress.StateProvinceEnabled)
                            {
                                @Model.ShippingAddress.StateProvinceName
                            }
                            @if (Model.ShippingAddress.ZipPostalCodeEnabled)
                            {
                                @Model.ShippingAddress.ZipPostalCode
                            }
                        </li>
                    }
                </ul>
                <br/>
                <h2>@T("Order.Shipping")</h2>
                <ul class="list-unstyled">
                    <li>@T("Order.Shipping.Name"): @Model.ShippingMethod</li>
                    @if (!Model.PrintMode && !Model.PickUpInStore)
                    {
                        <li>@T("Order.Shipping.Status"): @Model.ShippingStatus</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>


@if (Model.Items.Count > 0)
{
    <div class="panel panel-default margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title">@T("Order.Product(s)")</h3>
        </div>
        @*<div class="panel-body">

        </div>*@
        <table class="table table-striped invoice-table">
            <thead>
            <tr>
                @if (Model.ShowSku)
                {
                    <th>
                        @T("Order.Product(s).SKU")
                    </th>
                }
                <th>
                    @T("Order.Product(s).Name")
                </th>
                <th>
                    @T("Order.Product(s).Price")
                </th>
                <th>
                    @T("Order.Product(s).Quantity")
                </th>
                <th>
                    @T("Order.Product(s).Total")
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @if (Model.ShowSku)
                    {
                        <td class="sku">
                            @item.Sku
                        </td>
                    }
                    <td class="name">
                        @if (!Model.PrintMode)
                        {
                            <em><a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})">@item.ProductName</a></em>
                        }
                        else
                        {
                            @item.ProductName
                        }
                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                        {
                            <div class="attributes">
                                @Html.Raw(item.AttributeInfo)
                            </div>
                        }
                    </td>
                    <td class="price">
                        @item.UnitPrice
                    </td>
                    <td class="quantity">
                        @item.Quantity
                    </td>
                    <td class="total">
                        @item.SubTotal
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

<div class="row">
    <div class="col-xs-6">
        <div class="tag-box tag-box-v3 no-margin-bottom">
            @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
            {
                <div class="custom-footer-cart-div">
                    <div class="checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                </div>
            }

            @if (!Model.PrintMode)
            {
                if (Model.IsReOrderAllowed)
                {
                    <input type="button" value="@T(" Order.Reorder")" class="btn-u btn-u-sea-shop" onclick="setLocation('@Url.RouteUrl("ReOrder", new {orderId = Model.Id}) ')"/>
                }
                if (Model.IsReturnRequestAllowed)
                {
                    <input type="button" value="@T(" Order.ReturnItems")" class="btn-u btn-u-sea-shop" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new {orderId = Model.Id}) ')"/>
                }
            }
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <ul class="list-unstyled invoice-total-info">
            <li>@T("Order.SubTotal"): <span>@Model.OrderSubtotal</span></li>
            @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
            {
                <li>
                    <strong>@T("Order.SubTotalDiscount"):</strong> @Model.OrderSubTotalDiscount
                </li>
            }
            @if (Model.IsShippable)
            {
                <li>
                    <strong>@T("Order.Shipping"):</strong> @Model.OrderShipping
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
            {
                <li>
                    <strong>@T("Order.PaymentMethodAdditionalFee"):</strong> @Model.PaymentMethodAdditionalFee
                </li>
            }
            @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
            {
                foreach (var taxRate in Model.TaxRates)
                {
                    <li>
                        <strong>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</strong> @taxRate.Value
                    </li>
                }
            }
            @if (Model.DisplayTax)
            {
                <li>
                    <strong>@T("Order.Tax"):</strong> @Model.Tax
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
            {
                <li>
                    <strong>@T("Order.TotalDiscount"):</strong> @Model.OrderTotalDiscount
                </li>
            }
            @if (Model.GiftCards.Count > 0)
            {
                foreach (var gc in Model.GiftCards)
                {
                    <li>
                        <strong>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</strong> @gc.Amount
                    </li>
                }
            }
            @if (Model.RedeemedRewardPoints > 0)
            {
                <li>
                    <strong>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</strong> @Model.RedeemedRewardPointsAmount
                </li>
            }
            <li>
                <strong>@T("Order.OrderTotal"):</strong> @Model.OrderTotal
            </li>
        </ul>
        @if (!Model.PrintMode)
        {
                @*<button class="btn-u btn-u-sea-shop sm-margin-bottom-10" onclick="javascript:window.print();"><i class="fa fa-print"></i> @T("Order.Print")</button>*@
            <a href="@Url.RouteUrl("PrintOrderDetails", new {orderId = Model.Id})" target="_blank" class="btn-u btn-u-sea-shop"><i class="fa fa-print"></i> @T("Order.Print")</a>
            <a href="@Url.RouteUrl("GetOrderPdfInvoice", new {orderId = Model.Id})" class="btn-u btn-u-sea-shop">@T("Order.GetPDFInvoice")</a>
        }
    </div>
</div>

@Html.Widget("orderdetails_page_afterproducts")

@if (!Model.PrintMode)
{
    if (Model.Shipments.Count > 0)
    {
        <div class="section shipments">
            <div class="fieldset">
                <div id="legend">
                    <legend>@T("Order.Shipments")</legend>
                </div>
            </div>
            <div id="cart_items">

                <div class="table-responsive cart_info">
                    <table class="table table-condensed custom-shopping-cart-page">
                        <thead>
                        <tr class="cart_menu">
                            <td class="a-center id">
                                @T("Order.Shipments.ID")
                            </td>
                            <td class="a-center tracking-number">
                                @T("Order.Shipments.TrackingNumber")
                            </td>
                            <td class="a-center shipped-date">
                                @T("Order.Shipments.ShippedDate")
                            </td>
                            <td class="a-center delivery-date">
                                @T("Order.Shipments.DeliveryDate")
                            </td>
                            <td class="a-center details">
                                @T("Order.Shipments.ViewDetails")
                            </td>
                        </tr>

                        </thead>
                        <tbody>
                        @foreach (var item in Model.Shipments)
                        {
                            <tr>
                                <td class="a-left id">
                                    @item.Id.ToString()
                                </td>
                                <td class="a-left tracking-number">
                                    @item.TrackingNumber
                                </td>
                                <td class="a-left shipped-date">
                                    @if (item.ShippedDate.HasValue)
                                    {
                                        @item.ShippedDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.ShippedDate.NotYet")
                                    }
                                </td>
                                <td class="a-left delivery-date">
                                    @if (item.DeliveryDate.HasValue)
                                    {
                                        @item.DeliveryDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.DeliveryDate.NotYet")
                                    }
                                </td>
                                <td class="a-center details">
                                    <a href="@Url.RouteUrl("ShipmentDetails", new {shipmentId = item.Id})" title="@T(" Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
@if (!Model.PrintMode)
{
    if (Model.OrderNotes.Count > 0)
    {
        <div class="section order-notes">
            <div class="fieldset">
                <div id="legend">
                    <legend>@T("Order.Notes")</legend>
                </div>
            </div>

            <div id="cart_items">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed custom-shopping-cart-page">
                        <thead>
                        <tr class="cart_menu">
                            <td class="a-center createdon">
                                @T("Order.Notes.CreatedOn")
                            </td>
                            <td class="a-center note">
                                @T("Order.Notes.Note")
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.OrderNotes)
                        {
                            <tr>
                                <td class="a-left createdon">
                                    @item.CreatedOn.ToString()
                                </td>
                                <td class="a-left note">
                                    @Html.Raw(item.Note)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
</div>
