@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved. 
 *
 * This file is part of DevPartner Unify Theme.
 * 
 * DevPartner Unify Theme can not be copied and/or distributed without the express
 * permission of Dev Partner LLC.
 *
 * Written by Kanstantsin Ivinki, June 2016
 * Email: info@dev-partner.biz
 * Website: http://dev-partner.biz
 *@
@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="features_items my-account-page">
        <div class="heading margin-bottom-10">
            <h2 class="title text-center">@T("Account.MyAccount") - @T("Account.ChangePassword")</h2>
        </div>

        <div class="panel panel-default margin-bottom-40">
            <div class="panel-body">
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label" })
                            @Html.RequiredHint()
			</div>
                        <div class="col-lg-10">
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", Type = "password" })
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                            @Html.RequiredHint()
			</div>
                        <div class="col-lg-10">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", Type = "password" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2">
                            @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label" })
                            @Html.RequiredHint()
			</div>
                        <div class="col-lg-10">
                            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control", Type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn-u btn-u-sea-shop pull-right" value="@T("Account.ChangePassword.Button")" />
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
}
