@* Copyright (C) 2016 Dev Partner LLC. - All Rights Reserved. 
 *
 * This file is part of DevPartner Unify Theme.
 * 
 * DevPartner Unify Theme can not be copied and/or distributed without the express
 * permission of Dev Partner LLC.
 *
 * Written by Kanstantsin Ivinki, June 2016
 * Email: info@dev-partner.biz
 * Website: http://dev-partner.biz
 *@
@model CustomerNavigationModel
@using Nop.Web.Models.Customer;

<div class="panel-group">
    <h1>@T("Account.Navigation")</h1>
    <ul class="list-group sidebar-nav-v1">
        @Html.Widget("account_navigation_before")
       @foreach (var item in Model.CustomerNavigationItems)
       {
           <li class="@item.ItemClass list-group-item @(Model.SelectedTab == item.Tab ? "active" : "inactive")">
               <a href="@Url.RouteUrl(item.RouteName)">@(item.Title)</a>
           </li>
       }
        @Html.Widget("account_navigation_after")
    </ul>
</div>